:root {
  --primary-color: #29b6f6;
  --primary-color-hover: #25a6e1;
  --secondary-color: #fdb549;
  --secondary-color-hover: #e7a035;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --light-element: #f1f1f1;
}

[data-theme='dark'] {
  --primary-color: #29b6f6;
  --secondary-color: #fdb549;
  --font-color: #e1e1ff;
  --bg-color: #232220;
  --heading-color: #818cab;
  --light-element: #282725;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}

.sidenav {
  background: var(--bg-color);
  color: var(--font-color);
}

.nav-mobile-link {
  color: #fffde5;
}

.lighter-orange {
  background: #fdb549;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.space {
  margin-bottom: 100px;
}

.theme-switch-wrapper {
  display: flex;
  padding-left: 20px;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  padding-top: 15px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  height: 30px;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: '';
  height: 26px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#tutoring_entrys {
  justify-content: center;
  align-items: center;
  display: grid;
}

.tutor-class-frame {
  background: var(--light-element);
  border-radius: 6px;

  min-width: 300px;
  max-width: 300px;

  height: 400px;

  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.description {
  padding-bottom: 10px;
}

.tutor-row .tutor-class-frame {
  min-height: 300px;
}

.prerequisites {
  color: var(--primary-color);
  position: relative;
}

.prerequisite {
}

.prerequisites-list {
  margin-top: -16px;
}

.prerequisites-title {
  margin-bottom: -10px;
}

.avalible-times {
  color: var(--secondary-color);
}

.list-item {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.teachers {
  color: var(--secondary-color);
}

.signup-button {
  background-color: var(--primary-color);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.signup-button:hover {
  background-color: var(--primary-color-hover);
}

.recommended {
  color: var(--secondary-color);
  font-size: 20px;
}

.repos-container-div {
  display: flex;
  flex-flow: row wrap;

  position: relative;
  margin: auto;
  width: 80%;
  padding: 40px 10px 10px;
}

.repo-item-div {
  margin: auto;
  width: 400px;
  max-width: 100%;

  padding: 0 32px 32px 0;

  border-radius: 8px;
}

.repo-item {
  background-color: #ffffff;
  width: 300px;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}
