:root {
  --primary-color: #29b6f6;
  --secondary-color: #fdb549;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --light-element: #dedede;
}

[data-theme="dark"] {
  --primary-color: #29b6f6;
  --secondary-color: #fdb549;
  --font-color: #e1e1ff;
  --bg-color: #232220;
  --heading-color: #818cab;
  --light-element: #282725;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}

.sidenav {
  background: var(--bg-color);
  color: var(--font-color);
}

.nav-mobile-link {
  color: #fffde5;
}

.lighter-orange {
  background: #fdb549;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.space {
  margin-bottom: 100px;
}

.theme-switch-wrapper {
  display: flex;
  padding-left: 20px;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  padding-top: 15px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  height: 30px;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tutor-class-frame {
  background: var(--light-element);
  border-radius: 16px;
  min-height: 100px;
}

.prerequisites {
  color: var(--primary-color);
}

.avalible-times {
  color: var(--secondary-color);
}
